* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Montserrat;
}
.main-container {
    position: relative;
    background-color: #fff;
    max-width: 1200px;
    min-width: 520px;
    margin: 0 auto;
}

/* Sidebar */
.sidebar {
    display: block;
    background-color: #fff; 
    float: left;
    max-width: 320pt;
    padding-top: 20px;
    padding-bottom: 20px;  
}
.my-photo {
    max-width: 320px;
    margin-left: 9%;
    margin-right: 9%;
}

/*Myname container*/
.myname-container {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 5px;
    color: #000;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}

/*Contacts container*/
.contacts-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 5pt;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}
.link { 
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in;
}
.link:hover {
    color: hotpink;
}

/*Skills container*/
.skills-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 5px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;       
}

/*Education container*/
.education-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}

/*Main text container*/
.main-text-container {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 8%;
}
.title {
    color: #000;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-weight: bold;
}
.text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    text-align:  justify;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;       
}
.list {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-inline-start: 5px; 
    writing-mode: horizontal-tb;
    margin-bottom: 25px;
}
.list:hover {
    color: hotpink;
}
.list:active {
    color: blue;
}
.list:visited {
    color: blue;
}
.listik {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-inline-start: 5px; 
    writing-mode: horizontal-tb;
    margin-bottom: 25px;
}

.textcols {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    column-width: 48%;
    column-count: 2;
    column-gap: 4%;
}
.vl {
    position: absolute;
    border-left: 4px solid black;
    left: 320pt;
    top: 5pt;
    height: 1365px;
}
